body {
    background-color: #6495ed;
}
/****************************************************************************************************************/
fieldset {
    border: 3px solid #00008b;
    border-radius: 10px;

    background: #add8e6;
}
/****************************************************************************************************************/
.form_view {
    width: 35%;
    margin: 5px;
    padding: 15px;

    float: left;

    border: 3px solid #4169e1;
    border-radius: 15px;
}

form.form_view p {
    padding: 5px;

    color: #ffffff;
    background: #1e90ff;

    border-radius: 10px;

    font-family: "Times New Roman", serif;
    font-size: 18px;
}

form.form_view label {
    padding: 5px;

    color: #ffffff;

    border-radius: 10px;

    font-family: "Times New Roman", serif;
    font-size: 18px;
}
/****************************************************************************************************************/
.form_client {
    width: 58%;
    margin: 5px 5px 5px 5px;
    padding: 15px;

    float: right;

    border: 3px solid #4169e1;
    border-radius: 15px;
}

.ns_left {
    width: 48%;
    float: left;
}

.ns_right {
    width: 48%;
    float: right;
}

.ns_bottom {
    clear: both;
}

form.form_client p,
form.form_client div.ns_left p,
form.form_client div.ns_right p {
    width: 100%;
    padding: 5px 5px 5px 5px;

    color: #ffffff;
    background: #1e90ff;

    border-radius: 10px;

    font-family: "Times New Roman", serif;
    font-size: 18px;
}

form.form_client input[type=text],
form.form_client div.ns_left input[type=text],
form.form_client div.ns_right input[type=text] {
    width: 100%;
    padding: 5px 5px 5px 5px;

    border: 1px solid #4682b4;
    border-radius: 10px;

    font-family: "Times New Roman", serif;
    font-size: 18px;
}

form.form_client input[type=button] {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 3px 3px 3px 3px;

    background: #228b22;
    color: #ffffff;
    border: 1px solid #006400;
    border-radius: 10px;

    font-family: "Times New Roman", serif;
    font-size: 18px;
}
/****************************************************************************************************************/
table {
    width: 100%;
    margin: 5px;
    padding: 15px;

    border: 3px solid #4169e1;
    border-radius: 15px;
}

caption {
    padding: 5px;
    margin: 5px;

    color: #ffffff;
    background: #00008b;

    border-radius: 15px;

    font-family: "Times New Roman", serif;
    font-size: 24px;
}

table thead th {
    border: 1px solid #4682b4;
    border-radius: 3px;

    color: #ffffff;
    background: #7b68ee;

    font-family: "Times New Roman", serif;
    font-size: 18px;
}

table tbody td {
    border: 1px solid #1e90ff;
    border-radius: 3px;

    color: #ffffff;
    background: #87cefa;

    text-align: right;

    font-family: "Times New Roman", serif;
    font-size: 18px;
}
/****************************************************************************************************************/
.panel_div {
    width: 20%;
    float: left;
}

.workspace_div {
    width: 80%;
    float: right;
}

.workspace {
    margin: 10px;
}

.option {
    background-color: #00bfff;
    border: 2px solid #00008b;
    border-radius: 10px;

    width: 100%;
    margin: 5px;
    padding: 5px;

    color: #00008b;
    font-family: "Times New Roman", serif;
    font-size: 18px;
}

.process {
    width: 95%;
    margin: 3px 3px 3px 3px;

    background-color: #006400;
    color: #ffffff;
    border: 1px solid #006400;
    border-radius: 5px;

    font-family: "Times New Roman", serif;
    font-size: 14px;
}