<html>
    <head>
        <title>Requisition - WebClient</title>
        <script>
            #include("/templates/vm/js/lib/jquery-3.3.1.js");
            #include("/templates/vm/js/index.js");
        </script>
        <style type="text/css">
            #include("/templates/vm/css/index.css");
        </style>
    </head>

    <body>
        <fieldset>
            <legend>New Requisition - Form</legend>
            <form onsubmit="return createRequisition(event)">
                <p>Name:   <input class="text_field" type="text" id="name"></p>
                <p>Phone:  <input class="text_field" type="text" id="phone"></p>
                <p>Email:  <input class="text_field" type="text" id="email"></p>
                <p>Comment:<input class="area_field" type="text" id="comment"></p>
                <input type="submit" value="Create"">
            </form>
        </fieldset>
    </body>
</html>