body {
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

fieldset {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);

    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;

    text-align: center;
}

legend {
    color:#666;

    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;

    padding: 5px 5px 5px 5px;

    font-family: "Times New Roman", serif;
    font-size: 16px;
}

form p {
    width: 97%;
    padding: 5px 5px 5px 5px;

    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;

    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);

    font-family: "Times New Roman", serif;
    font-size: 14px;
}

form input[type=text],
form input[type=password] {
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;

    width: 100%;

    padding: 5px 5px 5px 5px;
}

form input[type=submit] {
    width: 50%;
    padding: 5px;

    background: lightgreen;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(lightgreen), to(darkgreen));
    background: -moz-linear-gradient(lightgreen, darkgreen);
    background: linear-gradient(lightgreen, darkgreen);
    border: solid 1px darkgreen;
    border-bottom: solid 3px darkgreen;
    box-shadow: inset 0 0 0 1px lightgreen;
    color: #fff;
    text-shadow: 0 1px 0 darkgreen;

    font-family: "Arial", Serif;
    font-size: 12px;
}

form input[type=submit]:hover {
    background: darkgreen;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(darkgreen), to(lightgreen));
    background: -moz-linear-gradient(darkgreen, lightgreen);
    background: linear-gradient(darkgreen, lightgreen);
    border: solid 1px darkgreen;
    border-bottom: solid 3px darkgreen;
    box-shadow: inset 0 0 0 1px lightgreen; }

form input[type=submit]:active {
    background: darkgreen;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(darkgreen), to(lightgreen));
    background: -moz-linear-gradient(darkgreen, lightgreen);
    background: linear-gradient(darkgreen, lightgreen);
    border: solid 1px darkgreen;
    box-shadow: inset 0 10px 15px 0 darkgreen; }