<fieldset>
    <legend>Authorization</legend>
    <form onsubmit="return authorization(event)">
        <p>Login:<input type="text" id="login"></p>
        <p>Password:<input type="password" id="password"></p>
        <input type="submit" value="Sign In"">
    </form>
</fieldset>