<fieldset>
    <legend>Authorization</legend>
    <form name="form" th:action="@{/login}" method="post">
        <p>Login:<input type="text" name="username"></p>
        <p>Password:<input type="password" name="password"></p>
        <input id="login" type="submit" value="Sign In"">
    </form>
</fieldset>